html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// TODO: by js use the PREFIX env variable,
// and avoid sync issue between font names and thoses listed for beeing preloaded
@font-face {
  font-family: "Roboto-Thin";
  src: url("/roti-calculator/fonts/Roboto-Thin.eot");
  src: url("/roti-calculator/fonts/Roboto-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("/roti-calculator/fonts/Roboto-Thin.woff") format("woff"),
    url("/roti-calculator/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
