.container {
  display: grid;
  grid-template-areas:
    "a a b b c c"
    "d d d e e e";
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container button:nth-child(1) {
  grid-area: a;
}
.container button:nth-child(2) {
  grid-area: b;
}
.container button:nth-child(3) {
  grid-area: c;
}
.container button:nth-child(4) {
  grid-area: d;
}
.container button:nth-child(5) {
  grid-area: e;
}
