@import "variables.module.scss";

.container {
  display: flex;
  align-items: center;
  font-family: "Roboto-Thin";
  background-color: $colSecondary;
  height: 10vh;
  overflow-x: auto;
}

.voteValue {
  font-size: 3vh;
  margin: 0.2vh;
}
